@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Josefin+Sans:wght@300&family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap");

body {
  box-sizing: border-box;
  height: 120vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

span {
  margin: 0 0.5rem;
}

header,
main,
footer {
  margin: 0.5rem 0;
}

header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

main {
  position: relative;
  font-size: 1.15rem;
}

footer {
  display: flex;
  gap: 2rem;
  .link {
    padding: 0.5rem;
    background-color: #e4e4e4;
    border-radius: 5px;
  }
}

@import "./layout";
@import "./link";
@import "./search";
@import "./home";
@import "./repos";
